body {
    color: #c42222;
    background-color: rgb(248, 250, 205);
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 940px;
}
h2 {
    border-bottom: 2px solid #5fe909;
    margin-top: 30px;
}

figure {
    text-align: center;
    padding: 15px;
    margin: 30px;
}

figcaption {
    font-style: italic;
    margin-top: 10px;
}

p {
    padding: 0 45px;
    text-indent: 15px;
}

#centro-distribuicao {
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}

#familia-pelho {
    float: right;
    margin: 0 0 10px 10px;
}