body {
    color: #1c75eab1;
    background-color: rgb(238, 219, 219);
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 940px;
}
h2 {
    border-bottom: 2px solid #f1fc57;
    margin-top: 30px;
}

figcaption {
    font-style: italic;
    margin-top: 10px;
}

p {
    padding: 0 45px;
    text-indent: 15px;
}
#pilhares-segurança{
    float: right;
    margin: 0 0 10px 10px;
}